/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #3e1652;
}
h1 {
  margin: 0;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
}
h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
.container {
  background: #fff;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding-bottom: 40px !important;
}
.margin {
  margin-top: 20px;
}
.topline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.topline a {
  height: 50px;
  width: 200px;
  display: inline-block;
  padding-top: 13px;
  background: -webkit-linear-gradient(top, #8730b2 20%, #561f72 100%), #3e1652;
  -webkit-box-shadow: 0 -1px 1px #bd7fdd, 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 -1px 1px #bd7fdd, 0 2px 4px rgba(0,0,0,0.3);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana;
  font-size: 14px;
}
.topline a:hover {
  font-size: 15px;
}
.bottomline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottomline a {
  height: 50px;
  width: 153px;
  display: inline-block;
  padding-top: 17px;
  background: -webkit-linear-gradient(top, #8730b2 20%, #561f72 100%), #3e1652;
  -webkit-box-shadow: 0 -1px 1px #bd7fdd, 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 -1px 1px #bd7fdd, 0 2px 4px rgba(0,0,0,0.3);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana;
  font-size: 12px;
}
.bottomline a:hover {
  font-size: 13px;
}
.formline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formline a {
  height: 50px;
  width: 153px;
  display: inline-block;
  padding-top: 17px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.4, #374156), color-stop(0.7, #535b70));
  background: -webkit-linear-gradient(bottom, #374156 40%, #535b70 70%);
  background: -moz-linear-gradient(bottom, #374156 40%, #535b70 70%);
  background: -o-linear-gradient(bottom, #374156 40%, #535b70 70%);
  background: -ms-linear-gradient(bottom, #374156 40%, #535b70 70%);
  background: linear-gradient(bottom, #374156 40%, #535b70 70%);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana;
  font-size: 11px;
}
.formline a:hover {
  font-size: 12px;
}
#two a {
  font-size: 11px;
  padding-top: 10px;
}
#two a:hover {
  font-size: 12px;
}
/* Base Grid
================================================== */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
.container .one.column {
  width: 38px;
}
.container .two.columns {
  width: 86px;
}
.container .three.columns {
  width: 134px;
}
.container .four.columns {
  width: 182px;
}
.container .five.columns {
  width: 230px;
}
.container .six.columns {
  width: 278px;
}
.container .seven.columns {
  width: 326px;
}
.container .eight.columns {
  width: 374px;
}
.container .nine.columns {
  width: 422px;
}
.container .ten.columns {
  width: 470px;
}
.container .eleven.columns {
  width: 518px;
}
.container .twelve.columns {
  width: 566px;
}
.container .thirteen.columns {
  width: 614px;
}
.container .forteen.columns {
  width: 662px;
}
.container .fifteen.columns {
  width: 710px;
}
.container .sixteen.columns {
  width: 758px;
}
.container .seventeen.columns {
  width: 806px;
}
.container .eighteen.columns {
  width: 854px;
}
.container .nineteen.columns {
  width: 902px;
}
.container .twenty.columns {
  width: 950px;
}
.container .one-third.column {
  width: 310px;
}
.container .two-third.column {
  width: 630px;
}
.container .offset-by-one {
  padding-left: 48px;
}
.container .offset-by-two {
  padding-left: 96px;
}
.container .offset-by-three {
  padding-left: 144px;
}
.container .offset-by-four {
  padding-left: 192px;
}
.container .offset-by-five {
  padding-left: 288px;
}
.container .offset-by-six {
  padding-left: 288px;
}
.container .offset-by-seven {
  padding-left: 336px;
}
.container .offset-by-eight {
  padding-left: 384px;
}
.container .offset-by-nine {
  padding-left: 432px;
}
.container .offset-by-ten {
  padding-left: 480px;
}
.container .offset-by-eleven {
  padding-left: 528px;
}
.container .offset-by-twelve {
  padding-left: 576px;
}
.container .offset-by-thirteen {
  padding-left: 624px;
}
.container .offset-by-forteen {
  padding-left: 672px;
}
.container .offset-by-fifteen {
  padding-left: 720px;
}
.column,
.columns {
  float: left;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.column .alpha,
.columns .alpha {
  margin-left: 0;
}
.column .omega,
.columns .omega {
  margin-right: 0;
}
.row {
  margin-bottom: 10px;
}
.header {
  width: 446px;
  margin: 0 auto;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #d2dcf5;
}
.header-link {
  margin-right: 32px;
  color: #36427e;
}
.header-link:last-child {
  margin-right: 0;
}
.home-page {
  width: 446px;
  margin: 5px auto;
  padding: 5px;
  margin-bottom: 0.5em;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #d2dcf5;
}
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
